/* request rows for catalog */
#content .mainContent .requestRow {
  overflow: auto;
  color: rgba(146, 146, 146, 1.00);
	
}

/* main content of the site */
#content .mainContent {
  float: left;
  width: 70%;
  text-align: center;
  padding-right: 4%;
	padding-bottom: 4%;
	padding-top: 4px;
	
}
/* Each request Information in the catalog */
.requestRow .requestInfo {
  float: left;
  align-self: auto;
  padding-left: 5%;
  padding-right: 5%;

  padding-top: 5%;
	
}

.retquestInfo{
    background-color: rgba(0,44,47,1.00);
    left: 5%;
    display: table-cell;
}

/* Prices of a requests in catalog */
.requestRow .requestInfo .price {
  font-family: 'Montserrat', sans-serif;
  color: rgba(146, 146, 146, 1.00);
  font-size: 20px;
  position: relative;
  padding-top: 10px;
  top: -8px;
	
}
/* Content holder for requests in catalog*/
.requestRow .requestInfo .requestContent {
  position: relative;
  top: -27px;
  font-size: 14px;
  font-family: source-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 200;
  color: rgba(146, 146, 146, 1.00);
  white-space: pre-wrap;
}
/* Buy button for requests in catalog */
.requestRow .requestInfo .buyButton {
  position: relative;
  top: -48px;
  width: 84%;
  background-color: rgba(208, 207, 207, 1.00);
  height: 35px;
  color: rgba(255, 255, 255, 1.00);
  border-style: none;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 8px;
	box-shadow: 3px 3px 5px rgba(146,146,146,.3);
}
